body{
    background: rgb(20, 20, 32);
    background-attachment: fixed;
}
.nur{
    width: 1400px;
    margin: auto;
         padding: 15px 20px;
        background: rgba(139, 139, 139, 0.3);
        margin-bottom: 20px;
        border-radius: 20px;
}
h1{
    text-align: center;
    color: rgb(231, 226, 209);
}
p{
    text-align: center;
    color: rgb(231, 226, 209);
}
.sec__img{
    width: 1400px;
    height: 800px;
    display: flex;
    justify-content: center;
    padding: 0;
    
}
.sec__img li{
    width: 500px;
    overflow: hidden;
    padding: 1px 1px 0;
    cursor: pointer;
    display: block;
    box-shadow: 1px 3px 15px #7e807e;
    transition: all 1.5s;
   
}
.sec__img img{
    width: 1000px;
}
.sec__img li:hover{
    width: 1400px;
    box-shadow: 1px 3px 15px rgb(231, 226, 209);
    transition: all 1s;
}
.sec__img li:nth-child(4){
    width: 1200px;
}
.sec__img:hover li:nth-child(4){
    width: 1000px;
}
.sec__img li:nth-child(4):hover{
    width: 400px;
}

